div button {
    color: $color-fuente;
    background-color: $fondo-primario;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    box-shadow:0 0 10px #919191;
    font-weight: 500;
    transition: background 0.5s linear;
}

button:hover {
    background-color: rgb(66, 96, 153);
}