form {
    font-family: $fuente-comun;
    div {
        
    }
    #termsycon {
        margin-top: 20px;
    }
}
div .logo {
    @include centrar(flex,row,center,center);
    img {
        @include logo-grande (150px, auto);
    }
    button {
        justify-content: flex-end;
    }
}
