form {
    font-family: $fuente-comun;
    div { 
        margin-top: 30px;
        margin-bottom: 30px;
    #termsycon {
        margin-top: 30px;
    }
}
}
div .logo {
    @include centrar(flex,row,center,center);
    img {
        @include logo-grande (150px, auto);
    }
    button {
        justify-content: flex-end;
    }
}
