.img-fodo {
    background-image: url(/img/macarrons.jpg);
}

.card {
    width: 100%;
    border: none;
    margin: 20px 0 40px 0px;

}
.card-body {
    background-color: map-get($colores, fondo-primario);
    color: map-get($colores, color-fuente);
}
.card-title {
    color: map-get($colores, color-titulos);
    text-align: start;
}