main .img-fondo {
    background-image: url(../../img/macarrons.jpg);
    background-position: 60% 50%;
    margin-top: -25px;
    padding-top: 15px;
    p {
    color: map-get($colores, color-fuente-alt);
    font-size: x-large;
    font-weight: 200;
    font-family: 'Pacifico';
    }
    
}

.card {
    width: 100%;
    border: none;
    margin: 20px 0 40px 0px;
    background-color: map-get($colores, fondo-primario );
    img {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.card-body {
    background-color: map-get($colores, fondo-primario);
    color: map-get($colores, color-fuente);
}
.card-title {
    color: map-get($colores, color-titulos);
    text-align: start;
}