* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: map-get($colores, color-titulos)
}
h1 {
    font-family: "Pacifico";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: map-get($colores, color-titulos)
    
}

h5 {
    font-family: "Pacifico";
    font-size: 30px;
    color: map-get($colores, color-titulos)
}

div button {
    color: $color-fuente;
    background-color: $fondo-primario;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    box-shadow:0 0 10px #919191;
    font-weight: 500;
    transition: background 0.5s ease-in;
}

button:hover {
    background-color: rgb(5, 84, 231);
}

section div img .card-img-top {
    transition: 0.5s ease-in;
}

.card-img-top:hover {
    opacity: 0.8;
}
