* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: map-get($colores, color-titulos)
}
h1 {
    font-family: "Pacifico";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: map-get($colores, color-titulos)
    
}

h5 {
    font-family: "Pacifico";
    font-size: 30px;
    color: map-get($colores, color-titulos)
}

