
nav {
    background-color: map-get($colores, fondo-primario);
    font-family: "Pacifico";
    font-weight: 400;
    padding: 1px;
    font-size:large;
    position: fixed;
    li {
        display: flex;
        align-items: center;
        .nav-link {
            text-decoration: none;
            color: map-get($colores, color-fuente);
    }
}
}