
nav {
    background-color: map-get($colores, fondo-primario);
    font-family: "Pacifico";
    font-weight: 400;
    padding: 1px;
    font-size:large;
    
    .nav-link {
            text-decoration: none;
            justify-self: end;
            color: map-get($colores, color-fuente);
            transition: background 0.5s ease-out;
    }
}
    

.nav-link:hover {
    color: rgb(5, 84, 231);
}